# IDE
.idea

# OS
.DS_Store

# Ignore projects on www folder
www/*

# Ignore docker folder
database/
nginx/sites-available/*
nginx/sites-enabled/*
nginx/ssl/*

# Keep www folder
!www/.gitkeep
!nginx/sites-available/.gitkeep
!nginx/sites-enabled/.gitkeep
!nginx/ssl/.gitkeep

# Ignore override files
docker-compose.override.yml
